<main>
    <nav class="sidebar">
        <a href="/">Home</a>
        <a href="/wines">Wines</a>
        <a href="/data">Data</a>
        <a href="/import">Import</a>
        <a href="#Custom Search">Custom Search</a>
    </nav>

    <h2 style="text-align: center;">DATABASE TABLE</h2>
    <div class="row content">
        <div class="column4">
            <div class="card">
                <h3>Wines</h3>
                <form>
                    <div class="form-group" id="control">
                        <label for="exampleFormControlSelect1">Select Wine Type</label>
                        <select class="form-control" id="wineList">
                        </select>
                    </div>
                </form>
                <p style="text-align: left;">Price:-<span id="price"></span></p>
                <p style="text-align: left;">Vendor:-<span id="vendor"></span></p>
                <p style="text-align: left;">Unit Cost:-<span id="cost"></span></p>
                <p style="text-align: left;">Unit Size:-<span id="size"></span></p>
                <p style="text-align: left;">Country:-<span id="country"></span></p>
            </div>
        </div>

        <div class="column4">
            <div class="card">
                <h3>VENDOR</h3>
                <form>
                    <div class="form-group" id="control">
                        <label for="exampleFormControlSelect1">Select Vendor</label>
                        <select class="form-control" id="vendorList">
                        </select>
                    </div>
                </form>
                <p style="text-align: left;">Wine List:-<span id="vendorWine"></span></p>
            </div>
        </div>
    </div>
</main>