<main>
    <nav class="sidebar">
        <a href="/">Home</a>
        <a href="/wines">Wines</a>
        <a href="/data">Data</a>
        <a href="/import">Import</a>
        <a href="#Custom Search">Custom Search</a>
    </nav>

    <h2 style="text-align: center;">IMPORT</h2>
    <div class="row content">
        <br><br><br>
        <button type="button" style="float: right;" class="btn btn-primary myButton" data-toggle="modal"
            data-target="#exampleModalCenter">Add Current Sales Data</button>
    </div>
</main>