<main>
    <h2 style="text-align: center;">IMPORT</h2>
    <div class="row content">
        <br><br><br>
        <button type="button" style="float: right;" class="btn btn-primary myButton" data-toggle="modal"
            data-target="#exampleModalCenter">Add Current Sales Data</button>
    </div>
</main>