form.signup,
form.login {
  margin-top: 50px;
}

body {
  font-family: "Lato", sans-serif;
  /* background-image: url(https://hdwallsource.com/img/2018/2/wine-wallpaper-background-hd-62581-64553-hd-wallpapers.jpg); */ */
  background-image: url(https://i.pinimg.com/originals/07/eb/09/07eb09e6867bd4999062d8b197bcef98.jpg); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #9a6243;
  position: fixed;
  height: 80%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  font-size: larger;
  font-weight: bold;
  padding: 30px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #885336;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  /* height: 1000px; */
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  .column2 {
    float: left;
    width: 100%;
    padding: 0 10px;
  }
}
.main {
  margin-left: 160px;
  /* Same as the width of the sidenav */
  font-size: 28px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
      padding-top: 15px;
  }
  .column2 {
    float: left;
    width: 100%;
    padding: 0 10px;
  }

  .sidenav a {
      font-size: 18px;
  }
}

* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.column2 {
  float: left;
  width: 50%;
  padding: 0 10px;
}

.column3 {
  float: left;
  width: 100%;
  padding: 0 10px;
}
.column4 {
  float: left;
  width: 33%;
  padding: 0 10px;
}
.column5 {
  float: left;
  width: 100%;
  padding: 0 10px;
}
.column6 {
  float: right;
  width: auto;
  padding: 10px;
}
.myButton {
	background-color:#44c767;
	border-radius:29px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e88f00;
}
.left{
  float: right;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

.content {
  margin-left: 160px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
  }
  .column2 {
    float: left;
    width: 100%;
    padding: 0 10px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  padding: 16px;
  text-align: center;
  background-color: #c4b9c1;
  opacity: 88%;
}
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 2px;
  padding: 16px;
  text-align: center;
  background-color: #c4b9c1;
  opacity: 88%;
}
/* Time periods chart */
#chartdiv {
  width: 100%;
  height: 500px;
}